.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 5px; 
    background-color: #dbe2ea;
    position: relative; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo img {
    height: 90px;
    margin-right: 10px;
    margin-left: 2px;
  }
  
  .tagline {
    font-size: 14px;
    color: #6c757d;
    margin-left: 10px;
    font-style: italic; 
  }
  
  .nav {
    margin-left: 260px;
    display: flex;
    justify-content: center; 
    flex: 1;
  }
  
  .nav a {
    margin: 0px 40px 0px 40px;
    color: #344f8e;
    text-decoration: none;
    font-size: 18px;
    padding: 8px 12px;
    border-radius: 4px; 
    transition: background-color 0.3s, color 0.3s;
    }
  
  .nav a:hover {
    background-color: #3a579a; 
    color: #fff; 
  }
  
  .search {
    display: flex;
    margin-top: 60px; 
    align-items: center; 
    background-color: white; 
    padding: 5px 10px; 
    border-radius: 4px; 
    border: 1px solid #ccc; 
  }
  
  .search input {
    border: none;
    outline: none;
    padding: 5px; 
    font-size: 16px; 
    margin-left: 5px; 
  }
  
  .search-icon {
    color: #6c757d; /* Icon color */
    font-size: 18px; /* Icon size */
  }
  
